*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu li{
    margin-right: 10px;
}
ul.down{
    display: none;
    z-index: 100;
    background-color: #111111;
    color: white;
    width: 150px;
    position: absolute;
    right: 0%;
    border:2px solid #cccc;

}
ul.down li{
    padding: 10px;
    border: 1px solid #cccc;
    margin: 0;
}
ul.down li:hover{
    background-color: #cccc;
}

li.drop:hover ul.down{
    display: block;
    position: absolute;

}

ul.down2{
    display: none;
    z-index: 100;
    background-color: #111111;
    color: white;
    width: 150px;
    position: absolute;
    top: 0px;
    right: 100%;
    border:2px solid #cccc;
 
}

li.drop2:hover ul.down2{
    display: block;
    position: absolute;
}


li.drop , li.drop2{
    position: relative;
}